@import 'colors/dracula.css';

* {
    font-size: 15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all: unset;
}

.modules-left {
    padding: 7px;
    margin: 10 0 5 10;
    border-radius: 10px;
    background: alpha(@bg0, .5);
}

.modules-center {
    padding: 7px;
    margin: 10 0 5 0;
    border-radius: 10px;
    background: alpha(@bg0, .5);
}

.modules-right {
    padding: 7px;
    margin: 10 10 5 0;
    border-radius: 10px;
    background: alpha(@bg0, .5);
}

tooltip {
    background: @bg0;
    color: @grey2;
}

#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#temperature:hover,
#custom-music:hover,
#pulseaudio:hover,
#idle_inhibitor:hover {
    transition: all .3s ease;
    color: @purple;
}

#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @grey2;
}

#custom-music {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @grey2;
}

#clock {
    padding: 0px 0px 0px 5px;
    color: @grey2;
    transition: all .3s ease;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@midnight_purple, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @purple;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @purple;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#bluetooth {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @grey2;

}

#network {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @grey2;

}

#battery {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @grey2;
}

#temperature {
    padding: 0px 5px;
    color: @grey2;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding: 0px 5px 0px 0px;
    transition: all .3s ease;

}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}

#pulseaudio {
    padding: 0px 5px;
    color: @grey2;
    transition: all .3s ease;
}

#idle_inhibitor {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @grey2;

}